.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(235, 235, 235);
}

.left-section {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 12px;
}

.username {
  font-weight: bold;
  font-family: Arial;
}

.add-friend-button {
  font-weight: bold;
  background-color: rgb(35, 123, 239);
  color: white;
  border-radius: 6px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 4px;
  cursor: pointer;
}

.message-button {
  font-weight: bold;
  background-color: rgb(235, 235, 235);
  border-radius: 6px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}