div {
  font-family: Arial;
}

.sidebar1 {
  background-color: rgb(30, 30, 30);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 12px;
  cursor: pointer;
}

.sidebar2 {
  background-color: rgb(50, 50, 50);
  width: 150px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 70px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.name {
  color: white;
  font-size: 14px;
}

.create-new-button {
  color: rgb(120, 120, 120);
  font-size: 24px;
  cursor: pointer;
}

.channel {
  color: rgb(120, 120, 120);
  margin-bottom: 14px;
  cursor: pointer;
}