p {
  font-family: Montserrat;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.title {
  font-size: 36px;
  margin-bottom: 12px;
  font-weight: bold;
}

.delivery {
  text-decoration: underline; 
}